In [1]:
import os
import glob
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

C:\Users\user\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
main_dir = 'data/processed/'
file_name = 'cluster_*.csv'
file_path = os.path.join(main_dir, file_name)

In [3]:
csv_files = glob.glob(file_path)

In [4]:
dataframes = [pd.read_csv(file) for file in csv_files]

# Recommendations

In [5]:
# store the cosine similarity DataFrames for each DataFrame in the list
cosine_sim_dfs = {}

In [6]:
df_features = ['Age', 'Total Spend', 'Items Purchased', 'Average Rating',
       'Discount Applied', 'Days Since Last Purchase', 'Satisfaction Level']

In [7]:
# List of custom dataframe names
dataframe_names = ['houston_df', 'san_francisco_df', 'los_angeles_df', 'new_york_df', 'chicago_df', 'miami_df']

In [8]:
for i, (df, name) in enumerate(zip(dataframes, dataframe_names)):    
    # relevant features
    df_selected = df[df_features]
    
    # cosine similarity
    cosine_sim = cosine_similarity(df_selected)
    
    # Convert similarity matrix to a DataFrame
    cosine_sim_df = pd.DataFrame(cosine_sim, index=df.index, columns=df.index)
    
    # Store the cosine similarity DataFrame with the custom name
    cosine_sim_dfs[name] = cosine_sim_df

In [9]:
cosine_sim_dfs['houston_df'].head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,1.000000,0.989287,0.996221,0.970983,0.998062,0.997887,0.994077,0.992750,0.970983,0.998062,...,0.964883,0.995582,0.962225,0.996426,0.959450,0.987328,0.956079,0.983623,0.952690,0.983889
1,0.989287,1.000000,0.979097,0.989243,0.989621,0.993188,0.993315,0.977898,0.989243,0.989621,...,0.980399,0.978502,0.975931,0.983740,0.973478,0.968388,0.968342,0.968988,0.965275,0.964541
2,0.996221,0.979097,1.000000,0.952845,0.991694,0.990290,0.989980,0.991688,0.952845,0.991694,...,0.952597,0.999100,0.950818,0.995693,0.949299,0.995011,0.946773,0.987140,0.944592,0.992542
3,0.970983,0.989243,0.952845,1.000000,0.968201,0.983619,0.975385,0.943864,1.000000,0.968201,...,0.993361,0.949714,0.990982,0.969882,0.987774,0.944730,0.984653,0.959513,0.980821,0.942125
4,0.998062,0.989621,0.991694,0.968201,1.000000,0.995346,0.991342,0.995921,0.968201,1.000000,...,0.957082,0.992964,0.952565,0.990442,0.949505,0.979424,0.944349,0.972675,0.940715,0.974754

In [10]:
def get_recommendations(dataframe_key, user_id, top_n=3):
    # similarity matrix
    sim_df = cosine_sim_dfs[dataframe_key]
    
    # similarity scores for the given user
    sim_scores = sim_df[user_id]
    
    # Sort users based on similarity score
    similar_users = sim_scores.sort_values(ascending=False)[1:top_n+1]
    
    return similar_users

In [11]:
print(get_recommendations('houston_df', user_id=0, top_n=3))

43    0.999852
47    0.998250
31    0.998062
Name: 0, dtype: float64