Age
Total Spend
Items Purchased
Average Rating
Discount Applied
Days Since Last Purchase
Satisfaction Level
City
Gender
Membership Type

In [1]:
import os
import glob
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

C:\Users\user\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
main_dir = 'data/processed/'
file_name = 'cluster6_Miami.csv'
file_path = os.path.join(main_dir, file_name)

In [3]:
df = pd.read_csv(file_path)
df.head()

,Age,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level,Miami_Young_Adults,Miami_Middle-aged_Adults,Gender_Female,Gender_Male,City_Miami,Membership Type_Silver
0,0.058824,0.279095,0.428571,0.526316,1.0,0.851852,0.666667,1.0,0.0,0.0,1.0,1.0,1.0
1,0.352941,0.251961,0.285714,0.421053,1.0,0.462963,0.666667,0.0,1.0,0.0,1.0,1.0,1.0
2,0.000000,0.261246,0.357143,0.368421,1.0,0.722222,0.666667,1.0,0.0,0.0,1.0,1.0,1.0
3,0.058824,0.270080,0.428571,0.578947,1.0,0.833333,0.666667,1.0,0.0,0.0,1.0,1.0,1.0
4,0.352941,0.233931,0.214286,0.421053,1.0,0.444444,0.666667,0.0,1.0,0.0,1.0,1.0,1.0

In [4]:
# Step 1: Select the features for the recommendation system
features = df.columns

In [5]:
# Step 2: Extract the relevant features from the DataFrame
df_features = df[features]

In [6]:
# Step 3: Compute cosine similarity
cosine_sim = cosine_similarity(df_features)

In [7]:
# Step 4: Convert the similarity matrix into a DataFrame for easier analysis
cosine_sim_df = pd.DataFrame(cosine_sim, index=df.index, columns=df.index)

In [8]:
# Show the similarity matrix
cosine_sim_df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,1.000000,0.823829,0.996615,0.999764,0.819922,0.997770,0.999887,0.818641,0.999764,0.819922,...,0.999480,0.826004,0.999292,0.827099,0.999062,0.828148,0.998792,0.829149,0.998480,0.830103
1,0.823829,1.000000,0.822748,0.824246,0.999538,0.824384,0.824844,0.999478,0.824246,0.999538,...,0.821060,0.999077,0.820324,0.998832,0.819556,0.998534,0.818758,0.998185,0.817929,0.997786
2,0.996615,0.822748,1.000000,0.995547,0.819842,0.999101,0.997099,0.818857,0.995547,0.819842,...,0.993867,0.824404,0.993406,0.825196,0.992903,0.825942,0.992361,0.826642,0.991780,0.827296
3,0.999764,0.824246,0.995547,1.000000,0.820433,0.997609,0.999786,0.819197,1.000000,0.820433,...,0.999442,0.826238,0.999201,0.827276,0.998918,0.828267,0.998594,0.829210,0.998229,0.830107
4,0.819922,0.999538,0.819842,0.820433,1.000000,0.821600,0.821058,0.999965,0.820433,1.000000,...,0.817060,0.999315,0.816288,0.999019,0.815484,0.998673,0.814650,0.998274,0.813786,0.997826

In [9]:
def get_recommendations(user_id, top_n=3):
    # Get the similarity scores for the given user
    sim_scores = cosine_sim_df[user_id]
    
    # Sort users based on the similarity score (highest to lowest)
    similar_users = sim_scores.sort_values(ascending=False)[1:top_n+1]  # Skip the user themselves
    
    return similar_users

In [10]:
# Example: Recommend for user with ID 0
recommendations = get_recommendations(1)
print(recommendations)

41    0.999585
26    0.999538
4     0.999538
Name: 1, dtype: float64