In [1]:
import os
import pandas as pd

C:\Users\user\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
main_dir = 'data/processed'
file_name = 'clustered_customer_segmentation_data.csv'
file_path = os.path.join(main_dir, file_name)

In [3]:
df = pd.read_csv(file_path, index_col='Customer ID')

In [4]:
df.head()

,Age,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level,New_York_Young_Adults,New_York_Middle-aged_Adults,Los_Angeles_Young_Adults,...,City_Los Angeles,City_Miami,City_New York,City_San Francisco,Membership Type_Bronze,Membership Type_Gold,Membership Type_Silver,Cluster,PCA1,PCA2
Customer ID,,,,,,,,,,,,,,,,,,,,,
101,0.176471,0.639502,0.500000,0.842105,1.0,0.296296,0.333333,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3,0.114511,1.263420
102,0.470588,0.333273,0.285714,0.578947,0.0,0.166667,0.000000,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2,-0.936885,-1.130093
103,1.000000,0.090102,0.142857,0.210526,1.0,0.611111,0.666667,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4,1.596030,-0.081482
104,0.235294,0.964122,0.857143,0.894737,0.0,0.055556,0.333333,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1,-1.372312,0.988835
105,0.058824,0.279095,0.428571,0.526316,1.0,0.851852,0.666667,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,5,-0.679784,-0.930910

In [5]:
with open("Data/optimal_k.txt", "r") as file:
    k = int(file.read())

In [6]:
clusters = [df.loc[df['Cluster'] == i] for i in range(k)]

In [7]:
clusters = [cluster.drop(columns=['Cluster', 'PCA1', 'PCA2']) for cluster in clusters]

In [8]:
common_columns = ['Age', 'Total Spend', 'Items Purchased', 'Average Rating', 
                  'Discount Applied', 'Days Since Last Purchase', 'Satisfaction Level',
                 'Gender_Female', 'Gender_Male']

In [9]:
clusters = [
    cluster[[col for col in cluster.columns if col in common_columns or not (cluster[col] == 0).all()]]
    for cluster in clusters
]

### Target Group: Middle-aged Female Adults from Houston
- **Membership Type:** Bronze
- **Discount:** No
- **Satisfaction Level:** Very Dissatisfied

### Target Group: Middle-aged Male Adults from San_Francisco
- **Membership Type:** Gold
- **Discount:** No
- **Satisfaction Level:** Dissatisfied

### Target Group: Middle-aged Male Adults from Los Angeles
- **Membership Type:** Silver
- **Discount:** No
- **Satisfaction Level:** Very Dissatisfied

### Target Group: Young and Middle-aged Female Adults from New York
- **Membership Type:** Gold
- **Discount:** Yes
- **Satisfaction Level:** Dissatisfied

### Target Group: Middle-aged Female Adults from Chicago
- **Membership Type:** Bronze
- **Discount:** Yes
- **Satisfaction Level:** Satisfied

### Target Group: Young and Middle-aged Female Adults from Miami
- **Membership Type:** Silver
- **Discount:** Yes
- **Satisfaction Level:** Satisfied

# Save each clusters

In [10]:
cluster_names = ['cluster_1_Houston', 'cluster_2_San_Francisco', 'cluster_3_Los Angeles', 
                'cluster_4_New York', 'cluster_5_Chicago', 'cluster_6_Miami']

In [11]:
# Directory path where files will be saved
save_dir = 'data/processed'

In [12]:
# Save each DataFrame to a CSV file
for i, df in enumerate(clusters):
    if df.empty:
        print(f"Warning: {cluster_names[i]} is empty!")
    else:
        df.to_csv(os.path.join(save_dir, f'{cluster_names[i]}.csv'), index=False)

    print(f"File saved successfully at {os.path.join(save_dir, f'{cluster_names[i]}.csv')}.")

File saved successfully at data/processed\cluster_1_Houston.csv.
File saved successfully at data/processed\cluster_2_San_Francisco.csv.
File saved successfully at data/processed\cluster_3_Los Angeles.csv.
File saved successfully at data/processed\cluster_4_New York.csv.
File saved successfully at data/processed\cluster_5_Chicago.csv.
File saved successfully at data/processed\cluster_6_Miami.csv.